body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #222;
    font-family: Arial, sans-serif;
}

#header{
    color: black;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    text-align: center;
}

.calculator {
    background: #333;
    padding: 20px;
    border-radius: 10px;
    margin-top: 100px;
}

#display {
    width: 100%;
    height: 60px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    gap: 10px;
}

button {
    height: 60px;
    font-size: 20px;
    cursor: pointer;
}

#equals{
    background-color: rgb(255, 68, 68);
    color: white;
    grid-row: span 2;
    height: 100%;
}

.zero {
    grid-column: span 2;
}